[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-bcrypt = "*"
psycopg2-binary = {extras = ["extras"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
